FLEETD_LISTEN_ADDR=:8090
FLEETD_BASE_URL=http://127.0.0.1:8090
FLEETD_STORE_DSN=file:fleetd.db?_pragma=busy_timeout(5000)
FLEETD_MASTER_KEY=change-me

FLEETD_AUTH_MODE=disabled
FLEETD_JWT_HS256_SECRET=
FLEETD_JWT_RS256_PUBLIC_KEY=
FLEETD_JWT_ISSUER=
FLEETD_JWT_AUDIENCE=

FLEETD_RUNTIME_AUTH_MODE=api_key
FLEETD_API_KEY=change-me

FLEETD_GATEWAY_TOKEN=change-me
FLEETD_GATEWAY_PASSWORD=
FLEETD_TICK_INTERVAL_MS=15000
FLEETD_REQUEST_TIMEOUT_MS=30000
